.sidebar {
  width: 30%;
  float: left;
  padding-left: 20px;
}

.sidebar-inner {
  min-height: 500px;
}

.img1 {
  margin-top: 40px;
  width: 500px;
  height: 650px;
  background: url("../img/pic2.jpg");
}

.img2 {
  margin-top: 15px;
  width: 500px;
  height: 700px;
  background: url("../img/pic3.jpg");
}
